/**** uiCustom ****/

/* stateBox */
.stateBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  .stateItem {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  &.col2 {
    .stateItem {
      flex: 0 0 100%*(1/2);
      max-width: 100%*(1/2);
    }
  }
  &.col3 {
    .stateItem {
      flex: 0 0 100%*(1/3);
      max-width: 100%*(1/3);
    }
  }
  &.col4 {
    .stateItem {
      flex: 0 0 100%*(1/4);
      max-width: 100%*(1/4);
    }
  }
  &.col5 {
    .stateItem {
      flex: 0 0 100%*(1/5);
      max-width: 100%*(1/5);
    }
  }
  &.col6 {
    .stateItem {
      flex: 0 0 100%*(1/6);
      max-width: 100%*(1/6);
    }
  }
  .itemBox {
    overflow: hidden;
    position: relative;
    height: 100%;
    margin-bottom: 0;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    & > * {
      margin-bottom: 0;
    }
    .itemIcon {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 128px;
      height: 50px;
      margin-left: 15px;
      text-align: center;
      color: #fff;
      font-size: 128px;
      line-height: 50px;
      text-shadow: 3px 7px rgba(0,0,0,.25);
      opacity: .08;
    }
    .itemTitle {
      color: rgba(255,255,255,.7);
      font-size: 13px;
      font-weight: 600;
    }
    .itemCount {
      color: rgba(255,255,255,1);
      font-size: 21px;
      font-weight: 400;
      strong {
        font-size: 24px;
        font-weight: 600;
      }
    }
    .itemList {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      li {
        padding: 1px 0;
        color: rgba(255,255,255,.7);
        font-size: 11px;
        i {
          font-size: 8px;
          margin-right: 2px;
        }
        strong {
          //display: inline-block;
          //width: 30px;
          //padding-left: 8px;
          padding-right: 1px;
          text-align: right;
          font-size: 12px;
          font-weight: 600;
          color: rgba(255,255,255,.9);
        }
      }
    }
  }
}

/* stepBox */
.stepBox {
  position: relative;
  .card-header {
    padding: .3125rem .625rem;
    font-weight: 600;
    line-height: 1.7;
  }
  .card-body {
    padding: .3125rem .125rem;
    line-height: 1.7;
    .list-group {
      overflow-y: auto;
      min-height: 132px;
      max-height: 132px;
      border-radius: 0;
    }
    .list-group-item {
      height: 22px;
      padding: .125rem .5rem;
      border: none;
      border-radius: .125rem;
      a {
        display: block;
        height: 22px;
        margin: -.125rem -.5rem;
        padding: .125rem .5rem;
        color: #333;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        background-color: #f8f8f8;
      }
      &.isSelect {
        color: #fff;
        font-weight: 600;
        background-color: #348fe2;
        a {
          color: #fff;
        }
      }
    }
  }
  &.row {
    &>[class^=col-] {
      &:first-child {
        .card {
          &:before {
            display: none;
          }
        }
      }
      .card {
        &:before {
          position: absolute;
          top: 50%;
          left: -16px;
          content: '\F054';
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-top: -6px;
          text-align: center;
          font-family: "Font Awesome 5 Free";
          font-size: 12px;
          font-style: normal;
          font-weight: 900;
          line-height: 1;
          font-feature-settings: normal;
          font-variant: normal;
          text-rendering: auto;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    &.row-space-50 {
      margin-left: -25px;
      margin-right: -25px;
      &>[class^=col-] {
        padding-left: 25px;
        padding-right: 25px;
        .card {
          &:before {
            display: none;
          }
        }
      }
      .btnBox {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -33px 0 0 -15px;
        .btn {
          display: block;
          margin: .25rem 0;
        }
      }
    }
  }
}

/* treeBox */
.treeBox {
  overflow-y: auto;
  min-height: 360px;
  max-height: 360px;
}

/* tree grid */
.tree {
  .d-block {
    display: table-row !important;
  }
  .treegrid-indent,
  .treegrid-expander {
    position: relative;
    display: inline-block;
    width: 24px;
  }
  .treegrid-expander {
    font-size: 11px;
    vertical-align: top;
    font-family: Font Awesome\ 5 Free,Font Awesome\ 5 Pro,FontAwesome!important;
    font-weight: 900;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    cursor: pointer;
    &:before {
      text-align: center;
      transition: all .2s linear;
    }
    &.treegrid-expander-collapsed {
      &:before {
        content: '\f054';
        display: block;
        height: 16px;
      }
    }
    &.treegrid-expander-expanded {
      &:before {
        content: '\f078';
        display: block;
        height: 16px;
      }
    }
  }
}


/* Tab in Panel */
.panel-body {
  .nav {
    &.nav-pills {
      .nav-link {
        background-color: #d5dbe0;
        &.active {
          background-color: #1d2226dd;
        }
      }
      .nav-item {
        padding: 1px;
        .nav-link {
          color: #111;
          text-align: center;
          font-size: .75rem;
          &.active {
            color: #fff;
          }
        }
      }
    }
  }
}